// 不显示划线的价格，如果折扣价不存在，则显示原价，如果折扣价存在则显示折扣价
function mainPrice(price, discount) {
    if (!discount) {
        return {
            price:price,
            display:true
        }
    } else {
        return {
            price:price,
            display:true
        }
    }
}

// 划线价格，如果折扣价存在，则返回原价，让原价划线，如果折扣价不存在，返回空
function slashedPrice(price, discount) {
    if (discount) {
        return {
            price:price,
            display:true
        }
    }else {
        return {
            price:null,
            display:false
        }
    }
}

module.exports = {
    mainPrice:mainPrice,
    slashedPrice:slashedPrice
}